<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="css/main_bundle.css">
    </head>

    <body>

        {% include "./partials/_header.njk" %}

        {% include "./partials/_nav.njk" %}

        {% block content %}
        <main class="centered-text-column">
            {% include "./content/about.html" %}
        </main>
        {% endblock %}

        {% include "./partials/_footer.njk" %}

        <script src="js/main_bundle.js"></script>
    </body>

</html>
