<nav class="site-nav">
    <ul>
        <li class="nav-home"><a href="/">Home</a></li>
        <li><a href="/">Products</a></li>
        <li><a href="/">Team</a></li>
        <li><a href="/">FAQ</a></li>
        <li><a href="/">Settings</a></li>
        <li><a href="/">Profile</a></li>
    </ul>
</nav>
